 <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Welcome to the blog.</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"> Please enter your name to continue.</h2>
        <%= form_with(url: "/user", method: "post") do %>
        <%= label_tag(:name, "Name:") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Submit") %>
        <% end %>
      </div>
    </div>
  </header>